<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragment :: meta}"></div>

        <div th:replace="~{fragment :: styles}"></div>

        <title>HOME</title>
    </head>
    <body>
        <div class="trpg-wrapper">
           <div th:replace="~{fragment :: header}"></div>

            <main>
              <div th:if="${successMessage}" class="container trpg-container pt-2">
                <div class="alert alert-info mt-4 mb-0">
                  <span th:text="${successMessage}"></span>
                </div>
              </div>


              <!-- ここから本文 -->


            </main>

            <div th:replace="~{fragment :: footer}"></div>
        </div>

        <div th:replace="~{fragment :: scripts}"></div>

        <!-- Swiper -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    </body>
</html>
