<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragment :: meta}"></div>

        <div th:replace="~{fragment :: styles}"></div>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">

        <!-- Swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">

        <title>HOME</title>
    </head>
    <body>
        <div class="trpg-wrapper">
           <div th:replace="~{fragment :: header}"></div>

            <main>
                

              <div th:if="${param.loggedIn}" class="container trpg-container pt-2">
                  <div class="alert alert-info mt-4 mb-0">
                       ログインしました。
                  </div>
              </div>


              <div th:if="${param.loggedOut}" class="container trpg-container pt-2">
                <div class="alert alert-info mt-4 mb-0">
                  ログアウトしました。
                </div>
              </div>

              <div th:if="${successMessage}" class="container trpg-container pt-2">
                <div class="alert alert-info mt-4 mb-0">
                  <span th:text="${successMessage}"></span>
                </div>
              </div>
            </main>

            <div th:replace="~{fragment :: footer}"></div>
        </div>

        <div th:replace="~{fragment :: scripts}"></div>

        <!-- Swiper -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    </body>
</html>
